<div class="container d-flex justify-content-around tamanho">
    <div class="card" style="width: 18rem; ">
        <img src="../../assets/paodemel.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title  container-fluid">Pão de Mel do LF</h5>
          <p class="card-text  container-fluid">O melhor pao de mel do brasil, aproveite essa delicia.</p>
            <a href="#" class=" btn btn-primary container-fluid bg-danger ">Compra Krai</a>
            <div class="container"></div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/alfa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title  container-fluid">Alfajor do LF</h5>
          <p class="card-text  container-fluid">O melhor Alfajor do brasil, aproveite essa delicia.</p>
            <a href="#" class=" btn btn-primary container-fluid bg-danger">Compra Krai</a>
            <div class="container"></div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/cocada.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title  container-fluid">Cocada do LF</h5>
          <p class="card-text  container-fluid">O melhor Cocada do brasil, aproveite essa delicia.</p>
            <a href="#" class=" btn btn-primary container-fluid bg-danger">Compra Krai</a>
            <div class="container"></div>
        </div>
      </div>
</div>
 